<tr>
  <td class="text-right">
    <%= link_to("#{rpi.rpi_name}", rpi) %>
  </td>
  <td width="20px">
  </td>
  <td class="text-left">
    <% if admin_priv? %>
    <%= link_to("delete", rpi, method: :delete, data: { confirm: "You sure?" }) %>
    <% end %>
  </td>
</tr>
