<footer class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<nav class="navbar navbar-expand-md fixed-bottom navbar-dark bg-dark">

    <ul class="navbar-nav nav-footer-w">
      <li class="nav-item navbar-right nav-footer-w active">
        <h2 class="nav-link text-right">Garrett Home Automation 2019</h2>
      </li>
    </ul>

</nav>
</footer>
