<div class="row content-justify-center">
  <div class="col-sm">
  <br><br><br><br>
  </div>
</div>
<nav class="navbar navbar-expand-sm fixed-bottom navbar-dark bg-dark">
  <ul class="navbar nav-footer-w py-0">
    <li class="nav-item navbar-right nav-footer-w active py-0">
      <h2 class="nav-link text-right py-0">Garrett Home Automation 2019</h2>
    </li>
  </ul>
</nav>
